<h1>This will be the about us page</h1>

Maania Consultancy is a professional Recruitment Process Outsourcing (RPO) Company specialized 

in Talent Acquisition in the areas of IT, Engineering, Healthcare and Financial services. 

Our aim is to cut organizations recruiting costs. We can deliver offshore recruiters and we will help you to 

setup your offshore office in India and manage entire process. We help companies cast a larger net to 

locate more of the talent they need by increasing their recruiting capacity. 

We inspire individuals and organizations to work more effectively, efficiently, and foster greater choice in 

the domain of labor for the benefit of all concerned. Helping people to better perform enhances better 

quality of life; this is the staple as our company’s common purpose; the way in which we contribute to 

society.

<a href="/about_us">About Us</a>
<br><br>

<a href="/recruitment_process_outsourcing">Recruitment Process Outsourcing (RPO)</a>
<br><br>

<a href="/hire_offshore_recruiters">Hire offshore Recruiters</a>
<br><br>

<a href="/set_up_your_offshore_office_in_india">Set up your Offshore office in India</a>
<br><br>

<a href="/contact_us">Contact us</a>
<br><br>